{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<div class="container-fluid ps-3">
    <div class="pb-1">
        <h1>Edit Entry</h1>
    </div>
    <hr>
    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="title">Title:</label>
            <input class="form-control" type="text" id="title" name="title" value="{{ title }}" readonly>
        </div>
        <div class="mb-3">
            <label class="form-label" for="content">Content:</label>
            <textarea class="form-control" name="content" id="content" value="content">{{ content }}</textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Save Entry">
    </form>
</div>
{% endblock %}